.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #efefef;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 0;
  padding: 1em;
}

.navbar-icon {
  height: 100px;
}
.button-wrapper {
  padding: 0 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}
