.App {
    --primary-color: #000;
    --primary-background: #fff;

    --secondary-color: #333;
    --secondary-background: #ccc;
}

.App.dark {
    --primary-color: #fff;
    --primary-background: #000;

    --secondary-color: #ccc;
    --secondary-background: #333;
}